In [1]:
pip install pandas

Requirement already satisfied: pandas in d:\app\anaconda_folder\envs\ai_class_spec_7020\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in d:\app\anaconda_folder\envs\ai_class_spec_7020\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\app\anaconda_folder\envs\ai_class_spec_7020\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\app\anaconda_folder\envs\ai_class_spec_7020\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\app\anaconda_folder\envs\ai_class_spec_7020\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in d:\app\anaconda_folder\envs\ai_class_spec_7020\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import matplotlib 
import warnings 
import pandas as pd
warnings.simplefilter("ignore")

In [3]:
import matplotlib.pyplot as pt
%matplotlib inline

In [4]:
df = pd.read_csv("D:\Files\Admission_Predict.csv")
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,Yes,0.92
1,2,324,107,4,4.0,4.5,8.87,Yes,0.76
2,3,316,104,3,3.0,3.5,8.00,Yes,0.72
3,4,322,110,3,3.5,2.5,8.67,Yes,0.80
4,5,314,103,2,2.0,3.0,8.21,No,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,Yes,0.82
396,397,325,107,3,3.0,3.5,9.11,Yes,0.84
397,398,330,116,4,5.0,4.5,9.45,Yes,0.91
398,399,312,103,3,3.5,4.0,8.78,No,0.67
399,400,333,117,4,5.0,4.0,9.66,Yes,0.95

In [13]:
df.size

3600

In [14]:
df.shape

(400, 9)

In [15]:
new_data = df[["TOEFL Score", "Chance of Admit "]]

In [16]:
new_data.size

800

In [17]:
new_data.shape

(400, 2)

In [23]:
new_data2 = df.drop(["Serial No.", "GRE Score","University Rating", "SOP", "LOR ", "CGPA", "Research"], axis = 1)
new_data2

     TOEFL Score  Chance of Admit
0            118              0.92
1            107              0.76
2            104              0.72
3            110              0.80
4            103              0.65
..           ...               ...
395          110              0.82
396          107              0.84
397          116              0.91
398          103              0.67
399          117              0.95

[400 rows x 2 columns]